# Python Practice Exercises
Solutions to various Python problems

## 1. Fibonacci Series

In [18]:
# Fibonacci Series up to 10 terms
a, b = 0, 1
fib_series = []
for _ in range(10):
    fib_series.append(a)
    a, b = b, a + b
print("Fibonacci series:", fib_series)

Fibonacci series: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## 2. Odd Index Elements

In [19]:
# Display elements at odd indices
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print("Elements at odd indices:")
for index in range(len(my_list)):
    if index % 2 != 0:
        print(my_list[index])

Elements at odd indices:
1
3
5
7
9

## 3. Unique Word Count

In [20]:
# Count unique words in text
text = """I have provided this text to provide tips on creating interesting paragraphs.
First, start with a clear topic sentence that introduces the main idea.
Then, support the topic sentence with specific details, examples, and evidence.
Vary the sentence length and structure to keep the reader engaged.
Finally, end with a strong concluding sentence that summarizes the main points.
Remember, practice makes perfect!"""

words = text.split()
unique_words = set()

for word in words:
    cleaned_word = word.strip('.,!').lower()
    unique_words.add(cleaned_word)

print("Number of unique words:", len(unique_words))

Number of unique words: 47

## 4. Vowel Counter Function

In [21]:
# Count vowels in a word
def count_vowels(word):
    vowels = {'a', 'e', 'i', 'o', 'u'}
    return sum(1 for char in word.lower() if char in vowels)

# Example usage:
print("Vowels in 'Hello':", count_vowels("Hello"))

Vowels in 'Hello': 2

## 5. Uppercase Animals

In [22]:
# Print animals in uppercase
animals = ['tiger', 'elephant', 'monkey', 'zebra', 'panther']
for animal in animals:
    print(animal.upper())

TIGER
ELEPHANT
MONKEY
ZEBRA
PANTHER

## 6. Odd/Even Check

In [23]:
# Odd/Even numbers 1-20
for num in range(1, 21):
    print(f"{num} is {'even' if num % 2 == 0 else 'odd'}")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

## 7. Sum of Integers

In [24]:
# Sum of two integers
def sum_of_integers():
    a = int(input("Enter first integer: "))
    b = int(input("Enter second integer: "))
    return a + b

print("Sum:", sum_of_integers())

Enter first integer: 1
Enter second integer: 2
Sum: 3